src/main/resources/wsdl/message-defs1.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema xmlns="http://www.w3.org/2001/XMLSchema"
        targetNamespace="http://www.wixia.com/wsendpoints/schema/message-defs1"
        elementFormDefault="qualified"
        version="1.0">
    <element name="GetEchoRequest">
        <complexType>
            <sequence>
                <element name="message" type="string" />
            </sequence>
        </complexType>
    </element>
    <element name="GetEchoResponse">
        <complexType>
            <sequence>
                <element name="responseMessage" type="string" />
            </sequence>
        </complexType>
    </element>
</schema>